[Unit]
Description=Run SFO forecaster refresh frequently with overnight budget control

[Timer]
# Decorrelate firing so the sfo units don't all spike together
RandomizedDelaySec=30
OnCalendar=*-*-* 05..18:10,40:00
OnCalendar=*-*-* 00..04,19..23:40:00
Persistent=true
Unit=sfo-forecaster-refresh.service

[Install]
WantedBy=timers.target
